/* body{
    background-color: rgb(29, 29, 29);
    color: white;
} */

.worksheet table{
    border-collapse: collapse;
    width: max-content;
}
.worksheet{
    overflow: auto;
    width: auto;

    width: 500px;
    height: 300px;
    
}

.worksheet table th{
    box-shadow: inset 0 0 0 0.5px #969696;
    background-color: #d0d0d0;
    
    /* box-shadow: inset 0 0 0 0.5px #ccc;
    background-color: rgb(45, 45, 45); */
}

.worksheet table td{
    border: 1px solid #ccc;
    /*
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    */
}

.worksheet table td.default-td-sieze{
    width: 64px;
    height: 24px;
}


.worksheet table .sticky-header-corner{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 3;
    border: none;
}

.worksheet table .sticky-header-columns{
    position: sticky;
    top: 0;
    z-index: 2;
    border: none;
    
}


.worksheet table .sticky-header-rows{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    border: none;
}

.worksheet table td.selected{
    box-shadow: inset 0 0 0 2px blue;
}
