/* body{
    background-color: rgb(29, 29, 29);
    color: white;
} */

body{
    font-family: Arial, Helvetica, sans-serif;
}

.worksheet table{
    border-collapse: collapse;
    width: max-content;
}
.worksheet{
    overflow: auto;
    width: auto;

    width: 1500px;
    height: 700px;
    
}

.worksheet table th{
    box-shadow: inset 0 0 0 0.5px #969696;
    background-color: #d0d0d0;
    
    /* box-shadow: inset 0 0 0 0.5px #ccc;
    background-color: rgb(45, 45, 45); */
}

.worksheet table td{
    border: 1px solid #ccc;
    overflow: hidden;
    /*
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    */

    position: relative;
    padding: 0px;

}

.worksheet table td.default-td-sieze{
    width: 64px;
    max-width: 64px;
    height: 24px;
    max-height: 24px;
}


.worksheet table .sticky-header-corner{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 3;
    border: none;
}

.worksheet table .sticky-header-columns{
    position: sticky;
    top: 0;
    z-index: 2;
    border: none;
    
}


.worksheet table .sticky-header-rows{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    border: none;
}

.worksheet table td.selected{
    overflow: visible;
}
.worksheet table td.selected .cell-content{
    position: absolute; /* Importante para que el hijo se posicione respecto a la celda */
    overflow: visible;
    z-index: 10;
    top:0px;
    left:0px;
    height: 100%;
    min-width: 100%;

    background-color: white;
    box-shadow: inset 0 0 0 2px rgb(0, 123, 255);
}

.worksheet .input-container{
    width: 300px;
    border: 1px solid #ededed;
    display: flex;
}

.worksheet .input-container .cell-info{
    display: flex;
    min-width: 50px;
    width: 50px;
    min-width: 22px;

    justify-content: center;
    align-items: center;

    border-right: 1px solid #ededed;
    font-size: 0.8em;
    margin: 5px;
}


.worksheet .input-container .input-value:focus-visible {
    outline: none;
}
.worksheet .input-container .input-value{
    display: flex;
    min-width: 50px;
    width: 100%;
    min-width: 22px;

    justify-content: center;
    align-items: center;

    border:none;
}